<mat-card class="workoutOverviewCard">
  <mat-card class="currentDayOverviewCard">
    <mat-card-header>
      <mat-card-title>{{currentWorkout.muscleGroupHeader}}</mat-card-title>
    </mat-card-header>
    <div *ngFor="let exercise of currentWorkout.exercises">
      <div>{{exercise.name}} - {{exercise.equipment}}</div>
    </div>
    <mat-card-content>
      <button pButton pRipple type="button" label="Edit Workout" class="p-button-outlined p-button-secondary" style="color: black; margin: 3% 0 3% 0;"></button>
      <button pButton pRipple type="button" label="Create New Workout" class="p-button-outlined p-button-secondary" style="color: black;"></button>
    </mat-card-content>
  </mat-card>
  
  <p-carousel [value]="workoutDashboards" [numVisible]="3" [numScroll]="2">
    <ng-template let-workoutDashboard pTemplate="item">
      <mat-card class="carouselCard">
        <mat-card-header class="carouselCardHeader">
          {{workoutDashboard.date}}
        </mat-card-header> 
        <mat-card class="carouselCardContent">
          <div id="centerContent">
            {{workoutDashboard.area}}
          </div>
        </mat-card>
      </mat-card>
    </ng-template>
  </p-carousel>
</mat-card>

<mat-card class="createWorkoutCard">
  <mat-card-header>
    <mat-card-title>Create Workout</mat-card-title>
  </mat-card-header>

  <p-accordion [multiple]="true">
    <p-accordionTab header="Chest">
      <p-table [value]="chestExercises" [(selection)]="selectedExerciseOptions" dataKey="exerciseId">
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th>Name</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-exerciseOption>
          <tr>
            <td>
              <p-tableCheckbox [value]="exerciseOption"></p-tableCheckbox>
            </td>
            <td>{{exerciseOption.name}}</td>
          </tr>
        </ng-template>
      </p-table>
    </p-accordionTab>
    <p-accordionTab header="Triceps">
      <p-table [value]="tricepExercises" [(selection)]="selectedExerciseOptions" dataKey="exerciseId">
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th>Name</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-exerciseOption>
          <tr>
            <td>
              <p-tableCheckbox [value]="exerciseOption"></p-tableCheckbox>
            </td>
            <td>{{exerciseOption.name}}</td>
          </tr>
        </ng-template>
      </p-table>
    </p-accordionTab>
  </p-accordion>
</mat-card>

<mat-card class="editWorkoutCard">
  <mat-card-header>
    <mat-card-title>Chest & Triceps</mat-card-title>
  </mat-card-header>
  <div *ngFor="let exercise of currentWorkout.exercises">
    <mat-card class="exerciseCard" style="background-color: deepskyblue;">
      <p-dropdown [options]="exerciseOptions" [(ngModel)]="exercise.exerciseOption" placeholder="Select an Exercise" optionLabel="name"></p-dropdown>
      <p-dropdown [options]="exercise.exerciseOption.equipment" [(ngModel)]="exercise.equipment" placeholder="Select Equipment"></p-dropdown>
      <div>
        Sets: 
        <p-inputNumber [(ngModel)]="exercise.numberOfSets" [showButtons]="true" [min]="0" (onInput)="exercise.SetChange()"></p-inputNumber>
        Reps: 
        <p-inputNumber [(ngModel)]="exercise.numberOfReps" [showButtons]="true" [min]="0" (onInput)="exercise.RepChange()"></p-inputNumber>
      </div>
      <div *ngFor="let set of exercise.sets">
        <mat-card class="setsCard">
          <div style="flex: 4;">
            Reps: 
            <p-inputNumber [(ngModel)]="set.reps" [showButtons]="true" [min]="0"></p-inputNumber>
          </div>
          <div class="setsCardWeight" style="flex: 5;">
            Weight: 
            <p-inputNumber [(ngModel)]="set.weight" [showButtons]="true" [min]="0"></p-inputNumber>
          </div>
        </mat-card>
      </div>
    </mat-card>
  </div>
</mat-card>